.secrets
secrets.js
webapp/secrets.js

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# TSLint cache
tslint.json

# python
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.pyre/

venv/
ENV/
env/
env.bak/
.ENV/
.env

